@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-main: #1D2732;
    --primary-bg-dark: #26323D;
    --primary-bg-light: #2E3D49;

    --secondary-a: #0D9488;
    --secondary-b: #0f766e;
    --secondary-light: #14b8a6;

    --text-grayish: #BFC3CA;
    --text-light: #FBFEF7;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr 70px;
    min-height: 100vh; 
    background-color: var(--primary-bg-dark);
    color: var(--text-light);
    font-family: Roboto;
}

header {
    grid-column: 2;
    grid-row: 1;   
}

aside {
    grid-column: 1;
    grid-row: 1 / 4;
    padding: 30px 20px 0 30px;
    background-color: var(--primary-bg-light);
}

.nav {
    margin-bottom: 15px;
    padding-bottom: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--text-grayish);
    width: fit-content;
    border-bottom: 2px solid transparent;
    transition: border 0.2s linear;
}

.nav svg {
    width: 25px;
    height: 25px;
    margin-right: 1.5rem;
}

.nav:first-child {
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--text-light);
}

.nav:first-child svg {
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.nav:nth-child(7) svg,
.nav:nth-child(6) svg {
    width: 20px;
    height: 20px;
    margin-right: 1.8rem;
}

/* .nav::after {
    content: "";
    border-bottom: 3px solid black;
    display: block;
    width: 10px;
} */

.nav:hover {
    border-bottom: 2px solid var(--secondary-b);
    opacity: 1;
    cursor: pointer;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

/* main > * {
    border: 1px solid #000;
} */

footer {
    grid-column: 2;
    grid-row: 3;
}