* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-main: #1D2732;
    --primary-bg-dark: #26323D;
    --primary-bg-light: #2E3D49;

    --secondary-a: #0D9488;
    --secondary-b: #0f766e;
    --secondary-light: #14b8a6;

    --text-grayish: #BFC3CA;
    --text-light: #FBFEF7;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr 70px;
    min-height: 100vh; 
}

body > * {
    border: 1px solid #000;
}

header {
    grid-column: 2;
    grid-row: 1;   
}

aside {
    grid-column: 1;
    grid-row: 1 / 4;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

main > * {
    border: 1px solid #000;
}

footer {
    grid-column: 2;
    grid-row: 3;
}